.skills {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #111152, #222, #333);
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .skill-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;

    h2 {
      font-size: 50px;
      margin-bottom: 15px;
      letter-spacing: 5px;
      font-family: "Raleway", sans-serif;
    }

    p {
      font-size: 25px;
      margin-bottom: 30px;
      width: 75%;
      text-align: center;
      font-family: "Raleway", sans-serif;
    }
  }

  .skill-bx {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #111;
    padding: 30px;
    border-radius: 10px;
    padding: 100px 0px;

    .skill-slider {
      width: 80vw;
    }

    .item {
      font-size: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-family: "Raleway", sans-serif;

      .purple-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        padding: 30px;
        background: linear-gradient(black, black) padding-box,
          linear-gradient(to right, darkblue, darkorchid) border-box;
        border-radius: 50em;
        border: 15px solid transparent;
      }
    }

    .skill-container {
      position: relative;
      cursor: pointer;
    }

    .tooltip-text {
      font-size: 20px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Raleway", sans-serif;
      position: relative;
      padding: 15px;
      background-color: #222;
      border-radius: 10px;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s ease;
      width: 350px;
      box-shadow: 0px 0px 5px 0px #ccc;
      -webkit-box-shadow: 0px 0px 5px 0px #ccc;
      -moz-box-shadow: 0px 0px 5px 0px #ccc;
      z-index: 999;
    }

    .tooltip-text::before {
      content: "";
      position: absolute;
      z-index: 999;
    }

    .skill-container:hover .tooltip-text {
      visibility: visible;
      opacity: 1;
      z-index: 999;
    }
  }

}


