.navigation-bar {
    height: 100px;
    background-color: black;

     .wrapper{
        max-width: 1370px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
     
     .logoHeader {
        margin-top: 40px;
        width: 430px;
        height: 140px;
     }

     .social {
        list-style: none;

        .box {
            width: 200px;
            height: 200px;
            background-color: wheat;
        }
        display: flex;
        gap: 20px;

        img {
            width: 35px;
        }
     }
    }
}