@import "../../app.scss";

.navigation-bar {
  height: 100px;
  width: 100%;
  background-color: black;

  @include desktop {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    margin: 0px;

    @include desktop {
      justify-content: space-between;
      max-width: 87%;
    }

    .logoHeaderBig {
      display: none;

      @include tablet {
        width: 300px;
        height: auto; /* Ajusta a altura automaticamente para manter a proporção */
        object-fit: contain; /* Mantém a proporção da imagem */
        display: flex;
      }

      @include desktop {
        height: auto; /* Ajusta a altura automaticamente para manter a proporção */
        object-fit: contain; /* Mantém a proporção da imagem */
        display: flex;
      }
    }

    .logoHeaderSmall {
      width: 80px;
      height: auto; /* Ajusta a altura automaticamente para manter a proporção */
      object-fit: contain; /* Mantém a proporção da imagem */
      display: flex;

      @include tablet {
        display: none;
      }
    }

    .social {
      list-style: none;
      display: none !important;

      @include desktop {
        display: flex !important;
      }

      .box {
        width: 200px;
        height: 200px;
        background-color: wheat;
      }
      display: flex;
      gap: 20px;

      img {
        width: 35px;
      }
    }
  }
}
