@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

body {
    background-color: #ccc !important;
    scroll-snap-type: y mandatory !important;
    scroll-behavior: smooth  !important;
}

section {
    height:100vh !important;
    scroll-snap-align: center;
}